
<!-- 页面列表 -->
<div class='loadAnimation' *ngIf="showRoleListIcon" style='z-index:99999'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
<table class="table text-center table-striped"  style="border:2px solid #999;box-shadow:0 0 10px #999;" *ngIf=" roleList.length > 0  && !showRoleListIcon " >

 <thead>
      <tr class="myactive"> 
         <th class="text-center">名称</th>
         <th class="text-center">职责</th>
         <th class="text-center">更新时间</th>
         <th class="text-center">操作</th>
      </tr>
   </thead>
   <tbody *ngIf="roleList.length > 0">
      <tr class="myactive" *ngFor="let role of roleList" > 
         <td class="text-center">{{role.name}}</td>
         <td class="text-center">{{role.duty}}</td>
         <td class="text-center">{{role.update_date}}</td>
         <td class="text-center">
         	<button class="btn btn-warning"  [disabled]="true" >编辑</button>
         	<button class="btn btn-danger" [disabled]="true" >删除</button>
         </td>
      </tr>
     
   </tbody>
</table>
<!-- 页面列表end -->

