<!-- 添加员工按钮 -->
<br/><div class="btn btn-lg btn-primary" (click)="toggleListAdmin()"   style="margin:30px 0;" >{{toggleListAdminValue}}</div>
<!-- 添加员工按钮end -->

<div class="alert alert-danger" style="margin:20px 0;">注意：因手机号码和邮箱作为登录的凭证，所以不能添加或修改成已经存在相同的！</div>
<!-- 增加员工 -->
	<form *ngIf="toggleListAdminValue=='员工列表'" (ngSubmit)="saveAdmin()"  novalidate #saveAdminForm="ngForm">
    <label class="text-info">姓名</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
    minlength="2" maxlength="16"
    #name="ngModel" required [(ngModel)]="admin.name" name="name"
      placeholder="输入姓名">
      <span class="text-danger alert alert-danger " [hidden]="name.valid || name.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-16位</span>
  </div>
    <label class="text-info">电话号码</label>
  <div class="comment-input-margin ">
    <input type="text" class="comment-input"
     pattern="^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$"
	 #cell_phone="ngModel" required [(ngModel)]="admin.cell_phone" name="cell_phone"
      placeholder="输入电话号码">
      <span class="text-danger alert alert-danger " [hidden]="cell_phone.valid || cell_phone.pristine"><i class="glyphicon glyphicon-info-sign"></i>手机号码不正确</span>
  </div>
    <label  class="text-info">email</label>
  <div class="comment-input-margin">
   <input type="text" class="comment-input" 
    pattern="^([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+(\.[a-zA-Z]{2,3})+$"
	 #email="ngModel" required [(ngModel)]="admin.email" name="email"
    placeholder="输入email">
    <span class="text-danger alert alert-danger " [hidden]="email.valid || email.pristine"><i class="glyphicon glyphicon-info-sign"></i>email不正确</span>
  </div>
  <label class="text-info">登录密码</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
    minlength="6" maxlength="16"
    #password="ngModel" required [(ngModel)]="admin.password" name="password"
      placeholder="6-16位">
      <span class="text-danger alert alert-danger " [hidden]="password.valid || password.pristine"><i class="glyphicon glyphicon-info-sign"></i>6-16位</span>
  </div>
  <label  class="text-info">职位</label>
  <div class="comment-input-margin">
   <select [ngModel]="admin.role_id" (ngModelChange)="admin.role_id=$event" 
   #role_id="ngModel" required  name="role_id"
   >
    <option value="">请选择</option>
    <option *ngFor="let role of roleList" [value]="role.name=='超级管理员' && sessionAdmin.role_id!=role.role_id?'':role.role_id" [hidden]="role.name=='超级管理员' && sessionAdmin.role_id!=role.role_id " >
      {{role.name=='超级管理员' && sessionAdmin.role_id!=role.role_id?'':role.name}}
    </option>  
</select>
  </div>
  <div class="comment-input-margin" style="margin-top:50px;">
  <button type="submit" class="btn btn-lg btn-info" [disabled]=" !saveAdminForm.valid " >保存提交</button>
  </div>
</form>
<!-- 增加员工 end-->
<!-- 页面列表 -->
<div class='loadAnimation' *ngIf="showAdminListIcon" style='z-index:99999'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
<table class="table text-center table-striped"  style="border:2px solid #999;box-shadow:0 0 10px #999;" *ngIf="toggleListAdminValue=='添加员工' && adminList.length > 0  && !showAdminListIcon " >

 <thead>
      <tr > 
         <th class="text-center">序号</th>
         <th class="text-center">姓名</th>
         <th class="text-center">手机号</th>
         <th class="text-center">邮箱</th>
         <th class="text-center">职位</th>
         <th class="text-center">创建时间</th>
         <th class="text-center">最后登录时间</th>
         <th class="text-center">操作</th>
      </tr>
   </thead>
   <tbody >

      <tr  *ngFor="let admin of adminList;let index=index" > 
         <td class="text-center">{{(currentPage-1)*pageNumber+index+1}}</td>
         <td class="text-center">{{admin.name}}</td>
         <td class="text-center">{{admin.cell_phone}}</td>
         <td class="text-center">{{admin.email}}</td>
         <!--<td class="text-center">{{admin.role_id}}</td>-->
         <td class="text-center" >
           <span *ngFor="let role of roleList">
             {{role.role_id==admin.role_id?role.name:''}}
           </span>
           </td>
         <td class="text-center">{{admin.create_date}}</td>
         <td class="text-center">{{admin.last_login_date}}</td>
         <td class="text-center">
           <!--匹配每一个管理员的角色 ，如果当前用户不为超级管理员 则禁用-->
           <div *ngFor="let role of roleList">
         	<button class="btn btn-warning" data-target="#myModal" *ngIf="role.role_id==admin.role_id && (role.name!='超级管理员' || sessionAdmin.role_id==admin.role_id)"  (click)="updateAdmin(admin)">编辑</button>
         	<button class="btn btn-danger"  *ngIf="role.role_id==admin.role_id && (role.name!='超级管理员' || sessionAdmin.role_id==admin.role_id)" (click)="delAdmin(admin)">删除</button>
         <div *ngIf="role.role_id==admin.role_id && role.name=='超级管理员' && sessionAdmin.role_id!=admin.role_id" class="alert alert-danger">无操作权限</div>
         </div>
         </td>
      </tr>
     
   </tbody>
</table>
   <div *ngIf="toggleListAdminValue=='添加员工' && adminList.length <= 0 && !showAdminListIcon" class="text-center alert alert-warning">
       还没有员工，点击上面的添加员工快速添加吧！
   </div>
<!-- 页面列表end -->
<!-- 加载更多end -->
	<!--<a class="btn btn-default btn-block text-center" (click)="websiteMore()" *ngIf="toggleListAdminValue=='添加员工'">
		<div>点击加载更多》</div>
	</a>
    <div class="text-center text-warning" *ngIf="haveWebsiteList && !haveMoreWebsiteList">没有更多了！</div>-->
    <div *ngIf="toggleListAdminValue=='添加员工'" >

    <ul class="pagination " >
    <li><a (click)="toPage('首页')" >首页</a></li>
    <li class="previous" ><a (click)="toPage('previous')" >&larr;</a></li>

    <li *ngFor="let currentPageNumber of showPageNumberArray"><a (click)="toPage(currentPageNumber)" [ngClass]="{active:currentPageNumber==currentPage}">{{currentPageNumber}}</a></li>

    <li class="next"  ><a (click)="toPage('next')" >&rarr;</a></li>
    <li><a (click)="toPage('尾页')" >尾页</a></li>
    <li> <span>总页数：{{totalPage}}</span></li>
    <li><span>总管理人数：{{totalNumber}}</span></li>
    </ul>
  
    </div>
<!--  加载更多end -->
<!--更新管理员 -->
<main-rightbar-admin-listadmin-update></main-rightbar-admin-listadmin-update>
<!--更新管理员end -->