<!-- 添加广告位 -->
<button class="btn btn-lg btn-default" (click)="listadvertisement=false;addadvertisement=true" *ngIf="listadvertisement" style="margin:30px 0;" >添加广告位&gt;</button>
<!-- 添加广告位end -->

<!-- 广告位列表 -->
<table *ngIf="listadvertisement" class="table text-center table-striped" style="border:2px solid #999;box-shadow:0 0 10px #999;" >

 <thead>
      <tr class="myactive"> 
         <th class="text-center">广告位ID</th>
         <th class="text-center">广告位名称</th>
         <th class="text-center">投放平台</th>
         <th class="text-center">类型</th>
         <th class="text-center">位置</th>
         <th class="text-center">状态</th>
         <th class="text-center">更新时间</th>
         <th class="text-center">操作</th>
      </tr>
   </thead>
   <tbody *ngIf="haveAdvertisementList">
      <tr class="myactive" *ngFor="let advertisement of advertisementList"> 
         <td class="text-center">{{advertisement.advertisement_id}}</td>
         <td class="text-center">{{advertisement.name}}</td>
         <td class="text-center">{{advertisement.platform}}</td>
         <td class="text-center">{{advertisement.type}}</td>
         <td class="text-center">{{advertisement.location}}</td>
         <td class="text-center">{{advertisement.status}}</td>
         <td class="text-center">{{advertisement.update_time}}</td>
         <td class="text-center">
         	<button class="btn btn-warning" (click)="advertisementUpdate(advertisement)">修改</button>
         	<button class="btn btn-success" (click)="advertisementCode(advertisement)">获取代码</button>
         	<button class="btn btn-danger" (click)="advertisementStop(advertisement)" *ngIf="!advertisement.transition" >停用</button>
         	<button class="btn btn-success" (click)="advertisementStart(advertisement)" *ngIf="advertisement.transition">启动</button>
         	<button class="btn btn-primary" (click)="showAdvertisementData(advertisement)">数据</button>
         </td>
      </tr>
     
   </tbody>
</table>
<!-- 广告位列表end -->
   <div *ngIf="listadvertisement && !haveAdvertisementList" class="text-center">
       还没有广告位，点击上面的添加广告位快速添加吧！
   </div>
<!-- 页面列表end -->
<!-- 加载更多end -->
	<a class="btn btn-default btn-block text-center" (click)="advertisementMore()" *ngIf="listadvertisement && haveMoreAdvertisementList">
		<div>点击加载更多》</div>
	</a>
    <div class="text-center text-warning" *ngIf="listadvertisement && haveAdvertisementList && !haveMoreAdvertisementList">没有更多了！</div>
<!--  加载更多end -->



<!-- 添加广告位 -->
<button class="btn btn-lg btn-success" (click)="listadvertisement=true;addadvertisement=false" *ngIf="addadvertisement" style="margin:30px 0;" >广告位列表&gt;</button>
<!-- 添加广告位end -->
<form *ngIf="addadvertisement"  (ngSubmit)="saveAdvertisement()"  novalidate #advertisementForm="ngForm">
        <div class="comment-input-margin ">
        <label  class="text-primary">※广告位名称</label>
        <input type="text" class="comment-input"
         minlength="2" maxlength="16" [(ngModel)]="advertisement.name" #name="ngModel" name="name" required   placeholder="输入广告位名称">
         <span class="text-danger alert alert-danger " [hidden]="name.valid || name.pristine"><i class="glyphicon glyphicon-info-sign"></i>广告位名称2-16位</span>
        </div>
        <div class="comment-input-margin ">
        <label  class='text-primary'>※投放平台&#12288;</label>
        <span [ngClass]="{'btn-primary': advertisement.platform=='PC端'}" (click)="advertisement.platform='PC端'" class="btn btn-default">PC端</span>
        <span [ngClass]="{'btn-primary': advertisement.platform=='移动端'}" (click)="advertisement.platform='移动端'" class="btn btn-default">移动端</span>
        </div>
        <div class="comment-input-margin ">
        <label  class="text-primary">※广告位类型</label>
        <input type="radio" style="margin-left: 10px;"  name="advertisementType" checked="true" (click)="advertisement.type='内嵌'"/>内嵌
        <input type="radio" style="margin-left:10px;" name="advertisementType"     (click)="advertisement.type='悬浮'"/>悬浮
        </div>
        <div class="comment-input-margin ">
        <label  class="text-primary">※广告位位置</label>
        <input type="radio" style="margin-left: 10px;"  name="advertisementLocation" checked="true" (click)="advertisement.location='顶部'"/>顶部
        <input type="radio" style="margin-left:10px;" name="advertisementLocation"     (click)="advertisement.location='底部'"/>底部
        </div>
        <div class="comment-input-margin ">
        <input type="submit" style="margin-left:10px;" class="btn btn-lg btn-primary" [disabled]="!advertisementForm.valid || advertisementSubmitDisabled" value="保存提交">
        </div>
</form>