<!-- 添加手机按钮 -->
<br/><div class="btn btn-lg btn-primary" (click)="toggleListTemporarywork()"   style="margin:30px 0;" >{{toggleListTemporaryworkValue}}</div>
<!-- 添加手机按钮end -->
<!-- 增加手机 -->
	<form *ngIf="toggleListTemporaryworkValue=='临时工作列表'" (ngSubmit)="saveTemporarywork()"  novalidate #saveTemporaryworkForm="ngForm">
    <label class="text-info">手机号</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
    minlength="2" maxlength="64"
    #phone_number="ngModel" required [(ngModel)]="temporarywork.phone_number" name="phone_number"
      placeholder="输入手机号">
      <span class="text-danger alert alert-danger " [hidden]="phone_number.valid || phone_number.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-64位</span>
  </div>
    <label class="text-info">工作人</label>
  <div class="comment-input-margin ">
    <input type="text" class="comment-input"
      minlength="2" maxlength="64"
	 #workers="ngModel" required [(ngModel)]="temporarywork.workers" name="workers"
      placeholder="输入工作人">
      <span class="text-danger alert alert-danger " [hidden]="workers.valid || workers.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-64位</span>
  </div>
    <label  class="text-info">工作任务</label>
  <div class="comment-input-margin">
   <textarea  class="comment-input" 
   style="width:500px;min-height:200px;"
    minlength="2" maxlength="255"
	 #task="ngModel" required [(ngModel)]="temporarywork.task" name="task"
    placeholder="输入工作任务"></textarea>
    <span class="text-danger alert alert-danger " [hidden]="task.valid || task.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-255位</span>
  </div>
  <label class="text-info">完成情况</label>
  <div class=" comment-input-margin">
    <textarea  class=" comment-input"
    style="width:500px;min-height:200px;"
    required minlength="2" maxlength="255"
    #task_situation="ngModel" [(ngModel)]="temporarywork.task_situation" name="task_situation"
     placeholder="完成情况"
     ></textarea>
   <span class="text-danger alert alert-danger " [hidden]="task_situation.valid || task_situation.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-255位</span>
  </div>
  
  <div class="comment-input-margin" style="margin-top:50px;">
  <button type="submit" class="btn btn-lg btn-info" [disabled]=" !saveTemporaryworkForm.valid " >保存提交</button>
  </div>
</form>
<!-- 增加手机 end-->

<!-- 页面列表 -->
<div class='loadAnimation' *ngIf="showTemporaryworkListIcon" style='z-index:99999'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
<table class="table text-center table-striped"  style="border:2px solid #999;box-shadow:0 0 10px #999;" *ngIf="toggleListTemporaryworkValue=='添加临时工作' && temporaryworkList.length > 0  && !showTemporaryworkListIcon " >

 <thead>
      <tr > 
         <th class="text-center">序号</th>
         <th class="text-center">手机号</th>
         <th class="text-center">工作人</th>
         <th class="text-center">工作任务</th>
         <th class="text-center">完成情况</th>
         <th class="text-center">创建时间</th>
         <th class="text-center">更新时间</th>
         <th class="text-center">操作</th>
      </tr>
   </thead>
   <tbody>
      <tr  *ngFor="let temporarywork of temporaryworkList;let index=index" > 
        <td class="text-center">{{(currentPage-1)*pageNumber+index+1}}</td>
         <td class="text-center">{{temporarywork.phone_number}}</td>
         <td class="text-center">{{temporarywork.workers}}</td>
         <td class="text-center">{{temporarywork.task}}</td>
         <td class="text-center">{{temporarywork.task_situation}}</td>
         <td class="text-center">{{temporarywork.create_date}}</td>
         <td class="text-center">{{temporarywork.update_date}}</td>
          <td class="text-center">
              <!--只显示当前用户的角色 ，如果为 普通员工 则禁用-->
           <div *ngFor="let role of roleList">
         	<button class="btn btn-warning" data-target="#myModal" *ngIf="sessionAdmin.role_id==role.role_id && role.name!='普通员工'" (click)="updateTemporarywork(temporarywork)">编辑</button>
         	<button class="btn btn-danger" *ngIf="sessionAdmin.role_id==role.role_id && role.name!='普通员工'" (click)="delTemporarywork(temporarywork)">删除</button>
            <div *ngIf="sessionAdmin.role_id==role.role_id && role.name=='普通员工'" class="alert alert-danger">无操作权限</div>
         </div>
         </td>
      </tr>
     
   </tbody>
</table>
<!-- 页面列表end -->

<div *ngIf="toggleListTemporaryworkValue=='添加临时工作' &&  temporaryworkList.length <= 0 && !showTemporaryworkListIcon" class="text-center alert alert-warning">
       还没有临时工作，点击上面的添加临时工作快速添加吧！
   </div>
<!-- 加载更多end -->
   <div *ngIf="toggleListTemporaryworkValue=='添加临时工作'" >
    <ul class="pagination " >
    <li><a (click)="toPage('首页')" >首页</a></li>
    <li class="previous" ><a (click)="toPage('previous')" >&larr;</a></li>

    <li *ngFor="let currentPageNumber of showPageNumberArray"><a (click)="toPage(currentPageNumber)" [ngClass]="{active:currentPageNumber==currentPage}">{{currentPageNumber}}</a></li>

    <li class="next"  ><a (click)="toPage('next')" >&rarr;</a></li>
    <li><a (click)="toPage('尾页')" >尾页</a></li>
    <li> <span>总页数：{{totalPage}}</span></li>
    <li><span>总临时工作数：{{totalNumber}}</span></li>
    </ul>
   </div>
<!--  加载更多end -->
<main-rightbar-temporarywork-update></main-rightbar-temporarywork-update>